* {
    margin: 0;
}

html,
body {
    margin: 0;
    background-color: #bbb;
    height: 100%;
}

.main-content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #aaa;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #036280;
    color: #E2E2E2;
}

.logo {
    width: 18%;
    justify-content: center;
    display: flex;
    font-size: xx-large;
}



.navbar {
    width: 42%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.navbar>a {
    width: auto;
    min-width: 70px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #E8EDE7;
    font-size: larger;
    align-items: center;
}

.navbar>a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {

    /*>=768的设备 */
    .logo {
        width: 100%;
        justify-content: flex-start
    }
    .navbar {
        width: 100%;
        justify-content: flex-start
    }
    }

.commontitle {
    list-style-type: none;
    background-color: #969696;
    width: 100%;
    text-align: center;


}

.top {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    max-height: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #868686;
}

.top>div {
    width: 90%;
    padding-bottom: 40%;
    position: relative;

}

.top>div>div {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
}

.top>div>div>div {
    width: 45%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../image/黑衣人.png);
    background-size: cover;
    background-position: center;
    max-width: 500px;
    max-height: 500px;
}

.top>div>div>div:hover {
    background-image: url(../image/joker.png), url(../image/黑衣人.png);
    background-size: 80%, cover;
    background-position-y: 45%, center;
    background-repeat: no-repeat;
}

.top>div>div>p {
    width: 45%;
    float: inline-end;
    text-indent: 2em;
    display: block;
    margin-left: 10%;
    font-size: 1.5em;
    color: #dcdcdc;

}

/*
@media only screen and (max-width: 960px) {
    .top>div>div>p {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 650px) {
    .top>div>div>p {
        font-size : 0.9em;
    }
}
*/

.commontext {
    width: 90%;
    font-size: large;
    line-height: 150%;
}

.left-information {
    float: left;
    width: 395px;
}

.left-information>div {
    position: relative;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.left-information>div>dt {
    color: #999;
    font-weight: 700;
    overflow: hidden;
    padding: 0 5px 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
    line-height: 26px;
    float: left;
}

.left-information>div>dd {
    zoom: 1;
    color: #333;
    float: left;
    position: relative;
    width: 285px;
    word-break: break-all;
    float: left;
    line-height: 26px;
}

.left-information>div>dd>span {
    position: relative;
}



.Column {
    background: url(../image/basicInfo-bg.png);
    margin: 20px 0 10px;
}

.title1 {
    font-size: 1.2em;
}

.before-title1 {
    height: 25px;
    width: 12px;
    margin-right: 10px;
    background-color: darkblue;
    float: left;
}

.before-text2 {
    width: 50%;
}

.text2 {
    text-indent: 2em;
    line-height: 2.5em;
}