html,body{
    margin: 0;
}

*{
   margin: 0; 
}

.container {
    display: flex;
    width: 100%;
    background-color: #036280;
    color: #E8EDE7;
}

.logo {
    width: 18%;
    justify-content: center;
    display: flex;
    font-size:xx-large;
}

.navbar {
    width: 42%;
    display: flex;
    justify-content: center;

}


.navbar>a {
    width: 25%;
    display: flex;
    justify-content: center;
    /*color: black;*/
    text-decoration: none;
    /*background-color: azure;*/
    color: #E8EDE7;
    font-size: larger;
    align-items: center;
}
.navbar>a:hover{
    text-decoration: underline;
}
.commontitle {
    list-style-type: none;
    background-color: beige;
    width: 100%;
    text-align: center;
    

}

.commontext {
    width: 90%;
    background-color: gainsboro;
    margin: auto;
    font-size: large;
}

.left-information{
    float: left;
    width: 395px;
}

.left-information>div{
    position: relative;
    box-sizing: content-box;
    margin: 0;
    padding: 0; 
}

.left-information>div>dt{
    color: #999;
    font-weight: 700;
    overflow: hidden;
    padding: 0 5px 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
    line-height: 26px;
    float: left;
}

.left-information>div>dd{
    zoom: 1;
    color: #333;
    float: left;
    position: relative;
    width: 285px;
    word-break: break-all;
    float: left;
    line-height: 26px;
}

.left-information>div>dd>span{
    position: relative;
}



.lanmu{
    background: url(../image/basicInfo-bg.png);
    margin: 20px 0 35px;
}

.text1{
    font-size: 14px;
    line-height: 24px;
    text-indent: 2em;
}